@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

*{
	font-family: 'Open Sans', sans-serif;
}

body{
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 2rem;
}

#homeBody {
	background-color: #0397A7;
	background-image: url("image/Background_iPhone_8_V3.jpg");
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 130vw 700px;
	height: 100vh;
}

#navHead {
	background-color: #0C193A;
	border: 0;
	box-shadow: 0px 2px 8px rgba(20, 20, 20, .6);
	margin: 0;
}

#navHead *::before, #navHead *::after {
	content: none;
}

#navHead-horizontal {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

#navHead-horizontal-header {
	align-items: center;
	display: flex;
}

.navbar-nav {
	margin-bottom: 0;
	margin-top: 0;
}

.list:hover {
	border-bottom: solid white 1px;
}

#logo {
	width: 5em;
}

#titre {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
}

#titre strong {
	font-weight: 800;
}

#btnNav {
	/* margin-top: 15px; */
}

@media only screen and (max-width: 768px) {
	#welcome {
		font-size: 2rem;
		margin-bottom: 32px;
	}
}

.page-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 48px 30px 32px;
	padding: 0;
}

#home-page-wrapper {
	position: fixed;
	bottom: 32px;
}

#choix-page-wrapper {
	text-align: center;
}

#home-page-wrapper :nth-child(n):not(:last-child) {
	margin-bottom: 20px;
	margin-top: 0;
}

#go {
	font-size: 36px;
	font-weight: 800;
/*	margin-top: 6rem; */
}

#welcome {
	color: #FFF;
	font-size: 19px;
	font-weight: 400px;
	margin-bottom: 16px;
}

#welcome strong {
	font-weight: 800;
}

#parti-container {
	text-align: center;
	width: 100%;
}

#parti, #dimensions-submit-button {
	background-color: #00eccd;
	border-color: #00eccd;
	border-radius: 1.2em;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 1px;
	padding-left: 13px;
	padding-right: 13px;
	width: 80%;
	margin-bottom: 10px;
}

#dimensions-submit-button {
	align-self: center;
	bottom: 32px;
	position: fixed;
	max-width: 60%;
}

h2 {
	color: #0C193A;
}

#title {
	background-color: #1E3C87;
	color: white;
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 32px;
	padding: 20px 48px;
}

#sous-titre {
	color: #0C193A;
	font-size: 16px;
	font-weight: 600;
	margin: 32px 0;
	padding: 0 32px;
	text-align: center;
}

#sous-titre strong {
	font-weight: 800;
}

.piece {
	width: 135px;
}

.pieceTitre {
	color: #1E3C87;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 800;
	margin-bottom:48px;
	margin-top: 0;
	padding: 0 15px;
}

#bodyPanier {
	background: linear-gradient(#00ECCD, #29B9AD);
	background-attachment: fixed;
	padding-bottom: 46px;
}

.zbi {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#panier-access-button {
	background: #00ECCD;
	border: 0;
	border-radius: 0;
	box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25);
	font-size: 16px;
	font-weight: 800;
}

.card {
	background-color: #FAFAFA;
	border-radius: 7px;
	box-shadow: 0px 2px 5px rgba(33, 63, 133, .28);
	color: #3C3C3C;
	font-family: 'Open Sans', sans-serif;
	height: auto;
	padding: 16px;
	margin-bottom: 16px;
}

.card-header {
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	position: relative;
}

.card-header-title {
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 10px;
}

.card-button {
	background: #1E3C87;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	font-weight: 600px;
	height: 32px;
	margin-right: -8px;
	margin-top: -8px;
	position: absolute;
	right: 0;
	width: 87px;
}

.card-body {
	align-items: center;
	display: flex;
}

.card-image {
	height: 88px;
	margin-right: 16px;
	padding: 0;
	width: 88px;
}

.card-body-text {
	color: #424242;
	display: flex;
	font-size: 12px;
	flex-direction: column;
	justify-content: center;
}

.card-body-text-link {
	color: inherit;
	text-decoration: none;
}

.card-name {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 0;
	padding: 0;
}

.card-price{
	color: #1E3C87;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 0;
	padding: 0;
}


/* Pages non frontéendées */
#bob{
    text-align: center;
    color: #1E3C87;
    font-family: 'Open Sans', sans-serif;
    font-size: 19pt;
}

#done{
    background-color:#00ECCD;
    border: #00ECCD solid;
    border-radius: 20px;
    display: block;
    font-size: 10pt;
    margin : auto;  
    margin-bottom: 10px;
    padding: 3%;
    text-align: center;
    width: 90%;
}

#dimensions-form {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 55%;
}

.bla {
    display: block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

#bla-text-meter {
	font-size: 24px;
	font-weight: 800;
}

#dim{
	background-color: #eeeeec;
	border: solid #eeeeec 0.5px;
	border-radius: 5px;
	box-sizing: border-box;
	color: #555;
	height: 32px;
	padding-left: 8px;
	width: 70%;
}

#panier-empty {
	display: flex;
	justify-content: center;
	padding: 0 30px;
}

#panier-empty-header {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	margin-top: 7.5vh;
	text-align: center;
}

#panier-empty-buttons {
	align-items: center;
	bottom: 32px;
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
}

#panier-empty-button-restart {
	background-color: #00eccd;
	border: 0;
	border-radius: 25px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	height: 48px;
	letter-spacing: 1px;
	padding-left: 13px;
	padding-right: 13px;
	width: 80%;
	margin-bottom: 13px;
}

#panier-empty-button-goto {
	background: transparent;
	border: solid 1px #fff;
	border-radius: 25px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
	color: #fff;
	font-size: 11px;
	font-weight: 800;
	height: 36px;
	letter-spacing: 1px;
	padding-left: 18px;
	padding-right: 18px;
	width: 65%;
}