@charset "UTF-8";

body{
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 2rem;
}

#homeBody {
	background-image: url("image/Background_iPhone_8_V2.jpg");
	background-size: cover;
}

#navHead {
	background-color: #0C193A;
	border: 0;
	box-shadow: 0px 2px 8px rgba(20, 20, 20, .6);
	margin: 0;
}

#navHead *::before, #navHead *::after {
	content: none;
}

#navHead-horizontal {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

#navHead-horizontal-header {
	align-items: center;
	display: flex;
}

.list:hover {
	border-bottom: solid white 1px;
}

#logo {
	width: 5em;
}

#titre {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

#btnNav {
	/* margin-top: 15px; */
}

@media only screen and (max-width: 768px) {
	#homeBody {
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
	}
	#titre {
		font-size: 21px;
		font-weight: 600;
	}
	#welcome {
		font-size: 2rem;
		margin-bottom: 32px;
	}
}

#welcome {
	color: #0C193A;
	margin-top: 6em;
	margin-bottom: 16px;
}

#parti {
	background-color: #00eccd;
	border-color: #00eccd;
	border-radius: 1.2em;
	color: #fff;
	width: 80%;
}

}
h2 {
	color: #0C193A;
}

#go {
	margin-top: 6rem;
}

#title {
	background-color: #1E3C87;
	color: white;
	font-size: 18pt;
	font-weight: 700;
	margin: 0 0 32px;
	padding: 16px 32px;
}

#sous-titre {
	color: #0C193A;
	font-size: 16px;
	font-weight: 400;
	margin: 32px 0;
	padding: 0 32px;
	text-align: center;
}

#sous-titre strong {
	font-weight: 800;
}

.piece {
	width: 120px;
}

.pieceTitre {
	font-size: 24pt;
	color: #1E3C87;
}

#bodyPanier {
	background: linear-gradient(#00ECCD, #29B9AD);
	padding-bottom: 46px;
}

.zbi {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.card {
	background-color: #FAFAFA;
	border-radius: 8px;
	box-shadow: 1px 1px 3px rgba(20, 20, 60, .35);
	color: #3C3C3C;
	font-family: 'Open Sans', sans-serif;
	height: auto;
	padding: 16px;
	margin-bottom: 16px;
}

.card-header {
	font-size: 14px;
	font-weight: 800;
	margin-top: 0;	
}

.card-body {
	align-items: center;
	display: flex;
}

.card-image {
	height: 88px;
	margin-right: 16px;
	padding: 0;
	width: 88px;
}

.card-body-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-body-text-link {
	color: inherit;
	text-decoration: none;
}

.card-name {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 0;
	padding: 0;
}

.card-price{
	color: #1E3C87;
	font-size: 21px;
	font-weight: 800;
	margin-bottom: 0;
	padding: 0;
}