@charset "UTF-8";


#homeBody {
	background-image: url("image/Background_iPhone_8_V2.jpg");
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

#navHead {
	background-color: #0C193A;
	box-shadow: 2px 2px 8px #888888;
}

.list:hover {
	border-bottom: solid white 1px;
}

#logo {
	width: 5em;
}

#titre {
	color: white;
	font-size: 1em;
}

#btnNav {
	margin-top: 15px;
}

@media only screen and (max-width: 768px) {
	#homeBody {
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
	}
	#titre {
		font-size: 6vw;
	}
	#welcome {
		font-size: 2rem;
	}
}

#welcome {
	margin-top: 6em;
	color: #0C193A;
	
	
	
}

#parti {
	color: #fff;
	background-color: #00eccd;
	border-color: #00eccd;
	border-radius: 1.2em;
	width: 80%;
}

}
h2 {
	color: #0C193A;
}

#go {
	margin-top: 6rem;
}

#title{

	background-color: #1E3C87;
	color: white;
	
	
}

.carte{
	border: 1px black;
}

.zbi{
	position: bottom;
	
	
}